<template name="/">

<BR>
<BR>
<Body>

    <!-- Page Content -->
    <div class="container">

        <!-- Service Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
			<Center>
                <h1>Business Name</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <BR>
				<a class="btn btn-primary btn-lg" href="#">Call Us Now!</a>
				<a class="btn btn-primary btn-lg" href="#">Request a Quote!</a>
			</Center>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
	</div>
</body>

</template>
